In [7]:
import pandas as pd 
df = pd.read_csv('C:/Users/vladt/Desktop/Cursuri GoIT Deni/PYTHON/survey_results_public.csv')
schema = pd.read_csv('C:/Users/vladt/Desktop/Cursuri GoIT Deni/PYTHON/survey_results_schema.csv')

In [61]:
# Primele 5 valori
print(df.head())
print(schema.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_7  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_8 JobSatPoints_9 JobSatPoints_10 JobSatPoints_11  \
0            NaN            NaN             NaN             NaN
1            0.0            0.0             0.0             0.0
2            NaN            NaN             NaN             NaN
3            NaN            NaN             NaN             NaN
4            NaN            NaN             NaN             NaN

            SurveyLength SurveyEase ConvertedCompYearly JobSat  \
0                    NaN        NaN                 NaN    NaN
1                    NaN        NaN                 NaN    NaN
2  Appropriate in length       Easy                 NaN    NaN
3               Too long       Easy                 NaN    NaN
4              Too short       Easy                 NaN    NaN

  worked_with_python
0              False
1               True
2              False
3               True
4               True

[5 rows x 115 columns]
      qid       qname                                           question  \
0    QID2  MainBranch  Which of the following options best describes ...
1  QID127         Age                                 What is your age?*
2  QID296  Employment  Which of the following best describes your cur...
3  QID308  RemoteWork  Which best describes your current work situation?
4  QID341       Check  Just checking to make sure you are paying atte...

  force_resp type selector
0       True   MC     SAVR
1       True   MC     SAVR
2       True   MC     MAVR
3      False   MC     SAVR
4       True   MC     SAVR

In [59]:
# 1.Câți respondenți au completat sondajul?
nr_resp = df.ResponseId.nunique()
print(f'Câți respondenți au completat sondajul?: {nr_resp}')

Câți respondenți au completat sondajul?: 65437

In [57]:
# 2.Câți respondenți au răspuns la toate întrebările?
questions = set(schema.qname.unique()) & set(df.columns)
nr_resp_cmpl = df.dropna(subset=questions).shape[0]
print(f'Câți respondenți au răspuns la toate întrebările?: {nr_resp_cmpl}')

Câți respondenți au răspuns la toate întrebările?: 6306

In [55]:
# 3.Care sunt valorile măsurilor de tendință centrală pentru experiența respondenților (WorkExp)?
print(f'Media: {df.WorkExp.mean()}')
print(f'Modulul: {df.WorkExp.mode()}')
print(f'Mediana: {df.WorkExp.median()}')

Media: 11.46695663901814
Modulul: 0    3.0
Name: WorkExp, dtype: float64
Mediana: 9.0

In [49]:
# 4.Câți respondenți lucrează de la distanță?
nr_resp_remote = df[df.RemoteWork == 'Remote'].shape[0]
print(f'Câți respondenți lucrează de la distanță?: {nr_resp_remote}')

Câți respondenți lucrează de la distanță?: 20831

In [53]:
# 5.Ce procent de respondenți programează în Python?
df['worked_with_python'] = df.LanguageHaveWorkedWith.str.contains('python', case=False,na=False)
perc_python = round(df.worked_with_python.sum() / df.ResponseId.nunique(), 2)
print(f'Ce procent de respondenți programează în Python?: {perc_python}')

Ce procent de respondenți programează în Python?: 0.47

In [101]:
# 6.Câți respondenți au învățat să programeze prin cursuri online?
df['learned_with_online_courses'] = df.LearnCode.str.contains('online courses', case=False,na=False)
resp_online_courses = df.learned_with_online_courses.sum()
print(f'Câți respondenți au învățat să programeze prin cursuri online? {resp_online_courses}')

Câți respondenți au învățat să programeze prin cursuri online? 30271

In [87]:
# 7.Dintre respondenții care programează în Python, grupați pe țări, care este valoarea medie și mediană a remunerației (ConvertedCompYearly) în fiecare țară?
python_progr = df[df['LanguageHaveWorkedWith'].str.contains('Python', case=False, na=False)]
# Calculam valoarea mediei si medianei a remuneratiei, grupate pe tara
py_salary_stats = python_progr.groupby('Country')['ConvertedCompYearly'].agg(['mean','median'])
print(py_salary_stats)

                                               mean    median
Country
Afghanistan                             4543.000000    4768.5
Albania                                56295.000000   56295.0
Algeria                                 9053.285714    6230.0
Andorra                               193331.000000  193331.0
Angola                                     6.000000       6.0
...                                             ...       ...
Venezuela, Bolivarian Republic of...   21500.000000    7100.0
Viet Nam                               14014.562500   10180.0
Yemen                                  10297.333333    5333.0
Zambia                                 28123.666667   22803.0
Zimbabwe                               37500.000000   18000.0

[173 rows x 2 columns]

In [91]:
#8.Ce nivel de educație au cei 5 respondenți cu cea mai mare compensație?
resp_education_renum = df[['ResponseId', 'EdLevel', 'ConvertedCompYearly']].sort_values(by='ConvertedCompYearly', ascending=False).head(5)
print(f'Ce nivel de educație au cei 5 respondenți cu cea mai mare compensație?: {resp_education_renum}')

Ce nivel de educație au cei 5 respondenți cu cea mai mare compensație?:        ResponseId                                         EdLevel  \
15837       15838    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
12723       12724  Professional degree (JD, MD, Ph.D, Ed.D, etc.)
28379       28380  Professional degree (JD, MD, Ph.D, Ed.D, etc.)
17593       17594    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
17672       17673  Professional degree (JD, MD, Ph.D, Ed.D, etc.)

       ConvertedCompYearly
15837           16256603.0
12723           13818022.0
28379            9000000.0
17593            6340564.0
17672            4936778.0

In [99]:
# Bonus 1.În fiecare grupă de vârstă, ce procent de respondenți programează în Python?
py_progers_share_by_age = df.groupby('Age', as_index=False).agg({'ResponseId': 'count', 'worked_with_python': 'sum'})
py_progers_share_by_age['work_with_python_share'] = round(py_progers_share_by_age.worked_with_python / py_progers_share_by_age.ResponseId, 2)
py_progers_share_by_age

                  Age  ResponseId  worked_with_python  work_with_python_share
0     18-24 years old       14098                7884                    0.56
1     25-34 years old       23911               10945                    0.46
2     35-44 years old       14942                6204                    0.42
3     45-54 years old        6249                2619                    0.42
4     55-64 years old        2575                1041                    0.40
5   65 years or older         772                 290                    0.38
6   Prefer not to say         322                 146                    0.45
7  Under 18 years old        2568                1666                    0.65

In [95]:
#Bonus 2. În rândul respondenților din a 75-a percentilă a remunerației medii care lucrează de la distanță, care sunt cele mai frecvente industrii?
df[(df.ConvertedCompYearly > df.ConvertedCompYearly.quantile(0.75)) & (df.RemoteWork == 'Remote')].Industry.value_counts().reset_index()

                                      Industry  count
0                         Software Development    768
1                                       Other:    239
2                                   Healthcare    156
3                                      Fintech    156
4   Internet, Telecomm or Information Services    145
5                 Retail and Consumer Services    106
6                 Media & Advertising Services    103
7                   Banking/Financial Services     69
8                                   Government     69
9         Computer Systems Design and Services     69
10             Transportation, or Supply Chain     67
11                                   Insurance     50
12                               Manufacturing     48
13                            Higher Education     42
14                                      Energy     36